* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: #EFF7FF;
  color: #E85187;
}

.dry {
  background-image: url('/assets/images/survey/skin_type/dry.jpg');
}

.combination {
  background-image: url('/assets/images/survey/skin_type/combination.jpg');
}

.normal {
  background-image: url('/assets/images/survey/skin_type/normal.jpg');
}

.oily {
  background-image: url('/assets/images/survey/skin_type/oily.jpg');
}

@font-face {
  font-family: overTheRainbow;
  src: url('/assets/Over_the_Rainbow/OvertheRainbow-Regular.ttf');
}

a {
  color: inherit;
  text-decoration: none;
}

.box {
  border: 1px solid #E85187;
  padding: 10px;
  padding-radius: 20px;
}

h1 {
  font-family: overTheRainbow;
  font-size: 38px;
  font-weight: bold;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
