.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
}

.title_text {
    color: black;
    font-family: Charter, serif;
}

.container {
    width: 80%;
}

.survey_card {
    padding: 1em;
    background-color: #F8E8EE;
    border-radius: 15px !important;
    box-shadow: 0 10px 10px #888888;
}

.survey div button {
    margin: auto;
}

.imageContainer {
    position: relative;
    display: inline-block;
}

.imageContainer img {
    display: block;
    width: 100%;
    height: auto;
}

.overlayText {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-bottom: 1.5em;
    font-size: 20px;
}

.survey_big_button {
    border: 1px solid #E85187;
    background-color: #FEFCF4;
    width: 100%;
    height: 100%;
    color: #E85187;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 20px;
}

.survey_big_button:hover {
    background-color: #FEFCF4;
}

.survey_big_button.selected {
    background-color: #FEFCF4;
    box-shadow: 5px 10px 10px #E85187;
    top: -5px;
    left: -5px;
}

.navigation_container {
    padding-top: 1em;
}

.navigation_button {
    border: 1px solid #E85187;
    padding: 10px;
    border-radius: 10px;
    background-color: #FFF2F7;
    color: #E85187;
}

.navigation_button:hover {
    background-color: #E85187;
    color: #FFFFFF;
}

.stepHeader {
    font-family: Charter, serif;
    font-size: 38px;
    font-weight: bold;
}

.addProductButtonRow {
    margin-bottom: 10px;
}

.productFormRow {
    padding: 10px;
}

.productPageAbout {
    padding: 10px;
}

.productThumbnail {
    border-radius: 15px;
}

.productDescription {
    width: 100%;
    max-width: 420px;
}

@media (prefers-reduced-motion) {
    .card:hover span {
        transform: none;
    }
}

/* Mobile */
@media (max-width: 700px) {
    .content {
        padding: 4rem;
    }

    .main {
        width: 100%;
    }

    .container {
        width: 50%;
    }
}

/* Tablet and Smaller Desktop */
@media (min-width: 700px) and (max-width: 1200px) {
    .main {
        width: 90%;
    }

}