.report_card {
    padding: 1em;
    background-color: #F8E8EE;
    border-radius: 15px !important;
    box-shadow: 0 10px 10px #888888;
}

.title_text {
    color: black;
    font-family: Charter, serif;
}